a, a:visited, a:hover, a:active {
    color: inherit;
  }

.Profile {
    grid-area: profile;
    height: 100%;
}

.cardProfile {
    display: grid;
    place-content: center;
    align-items: center;
    background-color: #3B4252;
    height: 100%;
}
.imgProfile {
    padding-top: 30px;
    width: 350px;
}

.nameProfile {
        color: #ECEFF4;
        font-family: Lato;
        font-size: 40px;
        font-style: italic;
        line-height: 50px;
        text-align: left;
}

.loginProfile {
        color: #ECEFF4;
        font-family: Lato;
        font-size: 28px;
        font-style: italic;
        line-height: 34px;
        text-align: left;
}

.bioProfile{
        color: #8190A5;
        font-family: Lato;
        font-size: 18px;
        line-height: 28px;
        text-align: left;
}

.contentProfile {
    color: #ECEFF4;
    font-family: Lato;
    font-size: 14px;
    font-style: italic;
    line-height: 34px;
    text-align: left;
}

.backHome {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.backHome Button {
    background-color: #ECEFF4;
}


@media screen and (max-width:1024px) {
    .Profile {
        height: auto;
    }
  }