.searchBar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


.form {
    display: flex;
    justify-content: center;
    align-items:center;
}

.input {
    background-color: #FFFFFF;
    border: 1px solid #3B4252;
    border-radius: 5px;
    width: 400px;
    height: 50px;
}

.input::placeholder {
    align-self: left;
    color: #8190A5;
    font-size: 18px;
    font-style: italic;
    line-height: 62px;
    width: 290px;
    text-align: left;
}

h3 {
    color: #3B4252;
    font-family: Lato;
    font-size: 40px;
    font-style: italic;
    line-height: 50px;
    text-align: center;
  }
button {
    display: flex;
    align-items: center;
    background-color: #47525E;
    border-radius: 5px;
    width: 120px;
    height: 50px;
    margin-left: 3px;
}

span {
    color: #ECEFF4;
    font-size: 22px;
    font-style: italic;
    width: 118px;
    text-align: center;
  }

i {
    color:#ECEFF4;
    width: 30px;
    height: 30px;
}